@model Demo.ViewModels.BrandViewModels
@{
    int index = 0;
    Layout = "_AdminLayout";
}
@* <div style="padding-right:8rem; border-radius:2mm; background-color:#eee;" class="container  mt-3  d-flex  justify-content-between  align-items-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Brand
    </button>
    <h2>Categories</h2>
    <span> Contains : @Model.Brands.Count</span>
</div> *@

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="">Brand Management</h2>
        <form asp-action="Index" method="get" class="d-flex justify-content-start align-items-center m-0">
            <input type="text" name="brandName" class="form-control me-2" placeholder="Filter by Brand Name" value="@ViewBag.CurrentFilterBrandName" />
            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create New Brand
        </button>
    </div>

    <div class="bg-light p-4 rounded-3 table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#262d34; color:#ccc;" class="rounded-3">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Products</th>
                    <th scope="col">Handel</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Brands)
                {


                    <tr>
                        <th scope="row">@(index += 1)</th>
                        <td>@item.BrandName (@item.Products.Count)</td>
                        <td class="ps-3"><a class="btn btn-outline-primary" href="/Admin/product/ProductsBrand/@item.BrandId"><i class="fa-regular fa-eye"></i></a> </td>
                        <td>
                            <button class="btn btn-outline-warning" onclick="openModal(@item.BrandId,'Brand','editModal','Edit')"><i class="fa-regular fa-pen-to-square"></i></button>

                            <a class=" btn btn-outline-danger" onclick="showAlert(@item.BrandId,'Brand','Admin')">
                                <i class="fa-solid fa-trash"></i>
                            </a>


                        </td>


                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal To Add Anew Caategory -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="brandform" method="post" action="/Admin/Brand/Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Brand</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Name">Brand Name</label>
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="allConfirm('brandform')" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End Modal To Add Anew Caategory -->
<!--modal to Edit-->
<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
        </div>
    </div>
</div>
<!--End Modal Edit-->