@model Demo.ViewModels.CategoryViewModels
@{
    int index = 0;
    Layout = "_AdminLayout";
}
@* <div style="padding-right:8rem; border-radius:2mm; background-color:#eee;" class="container  mt-3  d-flex  justify-content-between  align-items-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create New Category
    </button>
    <h2>Categories</h2>
    <span> Contains : @Model.Categories.Count</span>
</div> *@

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="">Category Management</h2>
        <form asp-area="Admin" asp-controller="Category" asp-action="Index" method="get" class="d-flex justify-content-start align-items-center m-0">
            <input type="text" name="categoryName" class="form-control me-2" placeholder="Filter by Category Name" value="@ViewBag.CurrentFilterCcategoryName" />
            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create New Category
        </button>
    </div>

    <div class="bg-light p-4 rounded-3 table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#262d34; color:#ccc;" class="rounded-3">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Products</th>
                <th scope="col">Handel</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)
            {


                <tr>
                    <th scope="row">@(index += 1)</th>
                    <td>@item.CategoryName (@item.Products.Count)</td>
                        <td class="ps-3"><a class="btn btn-outline-primary" href="/Admin/product/mobcat/@item.CategoryId"><i class="fa-regular fa-eye"></i></a> </td>
                    <td>
                            <button class=" btn btn-outline-warning" onclick="Edit('@item.CategoryName',@item.CategoryId,'editModal')"> <i class="fa-regular fa-pen-to-square"></i></button>

                            <a class=" btn btn-outline-danger" onclick="showAlert(@item.CategoryId,'Category','Admin')">
                                <i class="fa-solid fa-trash"></i>
                            </a>


                    </td>


                </tr>

            }
        </tbody>
    </table>
</div>
    </div>
















<!-- Modal To Add Anew Caategory -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="catform" method="post" action="/Category/Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="CategoryName">Category Name</label>
                        <input class="form-control" asp-for="CategoryName" />
                        
                    </div>
                    <span class="spn text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="allConfirm('catform')" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End Modal To Add Anew Caategory -->
<!--modal to Edit-->
<div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="EditForm" method="post" action="/Category/Edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit This Category</h5>
                    <button type="button" onclick="test('editModal')" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" for="CategoryName">Category Name</label>
                        <input class="form-control" id="editCategoryName" name="CategoryName"  />
                        <input class="form-control" type="hidden" id="editCategoryId" name="CategoryId" />
                        
                    </div>
                    <span class="spn text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="test('editModal')" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="allConfirm('EditForm')" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End Modal Edit-->
<script src="~/js/site.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
