@model IEnumerable<Product>

<!-- Header Section -->
<section class=" text-black gifts-header">
   <img style="position:relative;" src="~/Images/offer.jpg" alt="Alternate Text" />
  
</section>

<!-- Gift Collection Section -->
<section id="gift-collection" class="gift-collection">
    <h2>Our Top Picks</h2>
    <div class="gift-grid">
        @foreach (var product in Model)
        {
            <div class="gift-card">
                <img src="~/Images/@product.Image" alt="Gift 1">
                <h3>@product.ProductName</h3>
                <div class=" d-flex align-items-center justify-content-between mb-3">

                        <span style="color:gray; text-decoration-line:line-through;" class="fw-light">@product.ListPrice $</span>
                        <span style="font-weight: bolder; font-size: 17px;" class=" fw-bold text-success">@(product.ListPrice - product.Discount) $</span>
                        <span style="font-size:smaller; color:gray;">(@(((int?)(product.Discount / product.ListPrice * 100))) %)</span>

                </div>

            
            <a asp-action="Details" asp-route-id="@product.ProductId" asp-controller="Home"  class="btn btn-outline-primary ">More Details </a>
            </div>
        }
     
        <!-- Add more gift items as needed -->
    </div>
</section>
<style>
    .gifts-header {
        
     height:400px;
        
        text-align: center;
        color: #fff;
    }
    .gifts-header img{
        width:100%;
        height:100%;
    }

        .gifts-header h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .gifts-header p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

    .gift-collection {
        padding: 50px 10px;
        text-align: center;
        background-color: #f9f9f9;
    }

        .gift-collection h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }

    .gift-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gift-card {
        background: #fff;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        width: 30%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        transition: transform 0.3s ease;
    }

        .gift-card img {
            width: 50%;
            border-radius: 10px;
        }

        .gift-card h3 {
            margin-top: 15px;
            font-size: 1.5rem;
        }

        .gift-card p {
            font-size: 1.2rem;
            margin: 10px 0;
            color: #333;
        }

        .gift-card .btn-primary {
            display: inline-block;
            margin-top: 10px;
        }

        .gift-card:hover {
            transform: scale(1.05);
        }

</style>

