@model Demo.ViewModels.ProductDetails
@{

    int? id = Context.Session.GetInt32("UserID");
    Layout = "_AdminLayout";

}
@* <div style=" border-radius:2mm; background-color:#eee;" class="container pe-5 ps-6  mt-3  d-flex  justify-content-between  align-items-center">
    <a href="/home" style="border:none;" class="btn btn-outline-secondary  ps-4 pe-4"> <i style="font-size:30px;" class="fa-solid fa-arrow-left"></i> </a>

</div> *@


<div class="d-flex justify-content-between align-items-center m-3">
    <h2 class="">Product Details</h2>
    <form asp-action="Index" method="get" class="d-flex justify-content-start align-items-center m-0">
        <input type="text" name="productName" class="form-control me-2" placeholder="Filter by Product Name" value="@ViewBag.CurrentFilterProductName" />
        <button type="submit" class="btn btn-secondary">Filter</button>
    </form>

</div>


<div class="container d-flex align-items-start flex-wrap gap-4 ">
    <div class=" py-3 card mb-3 " style="width: 20rem;border-radius:20px; ">
        <div class="container mb-3">
            <a href=""> <img class="card-img-top" src="~/Images/@Model.Product.Image" style="height:15rem;" /></a>

        </div>
        <hr />
        <div class="container d-flex align-items-center justify-content-center gap-2  mb-3">
            <a href="/Order/CraeteOrder/@Model.Product.ProductId" style="background-color:#eee;" class="btn">Buy Now</a>
            <a onclick="AddToCart(@Model.Product.ProductId,@id)" style="background-color:ff6c2f;" class="btn btn-primary">Add To Cart <i class="fa-solid fa-cart-shopping"></i></i></a>
            <a><i style="font-size:20px;" class="fa-solid fa-heart"></i></a>
        </div>
    </div>
    <div style="background-color:white;border-radius:15px;" class=" card-body">
        <h4 class="card-title">@Model.Product.ProductName</h4>
        <h5 class="text-dark fw-medium">Description :</h5>      
        <p style="font-size:small;" class="card-text">@Model.Product.ProductDescription</p>
        <p class="card-text">
            @for (int i = 0; i < 5; i++)
            {
                if (i < Model.Product.Rate)
                {


                    <i style="color:#f9b931;" class="fa-solid fa-star"></i>
                }
                else
                {
                    <i style="color:#eee;" class="fa-solid fa-star"></i>
                }

            }

        </p>
        <p style="font-weight:bolder; font-size:20px;">@Model.Product.ListPrice $</p>
        <p class="card-text">Brand :  @Model.Product.Brand.BrandName </p>
        <p class="card-text">Category :  @Model.Product.Category.CategoryName </p>
        <p class="card-text">Quantity :  @Model.Quantity </p>
        <hr />
        <ul style="color:gray" class="d-flex flex-column gap-2 list-unstyled fs-15 my-3">
            @if (Model.Quantity == 0)
            {
                <li>
                    <i class="me-2 fa-solid fa-xmark"></i>
                    Not In Stock
                </li>


            }
            else
            {
                <li>

                    <i class=" me-2 fa-solid fa-check"></i>In Stock
                </li>
            }
            <li>
                <i class=" me-2 fa-solid fa-check"></i> Free delivery available
            </li>
            <li>
                <i class=" me-2 fa-solid fa-check"></i> Sales 10% Off Use Code: <span class="text-dark fw-medium">CODE123</span>
            </li>
        </ul>


    </div>
</div>


<!-- Modal To Add to cart -->
<div class="modal fade" id="addtocart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="catform" method="post" action="/Order/AddToCart">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quantity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="hidden" id="pId" name="id" />
                        <label class="form-label">Quantity of Product</label>
                        <input type="number" class="form-control" name="q" />

                    </div>
                    <span class="spn text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>