@model Demo.ViewModels.ProductsViewModels

@{

    Layout = "_AdminLayout";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="">Product Management</h2>
        <form asp-action="Index" method="get" class="d-flex justify-content-start align-items-center m-0">
            <input type="text" name="productName" class="form-control me-2" placeholder="Filter by Product Name" value="@ViewBag.CurrentFilterProductName" />
            <button type="submit" class="btn btn-secondary">Filter</button>
        </form>
        <button onclick="openModal(null, 'Product', 'AddProduct', 'Create')" class="btn btn-primary">Add New Product</button>
    </div>

    <div class="bg-light p-4 rounded-3 table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#262d34; color:#ccc;" class="rounded-3">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <th scope="row">@product.ProductId</th>
                        <td>
                            <img src="~/Images/@product.Image" alt="@product.ProductName" style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;">
                        </td>
                        <td>@product.ProductName</td>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.Brand.BrandName</td>
                        <td><i class="fa-regular fa-star text-warning"></i> @product.Rate </td>
                        <td>@product.ListPrice $</td>
                        <td>
                            <button onclick="openModal(@product.ProductId, 'Product', 'editProduct', 'Edit')" class="btn btn-dark btn-sm" title="Edit Product">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button onclick="showAlert(@product.ProductId, 'Product','Admin')" class="btn btn-danger btn-sm" title="Delete Product">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-info btn-sm" title="View Details">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a onclick="openAddToStock(@product.ProductId)  " class="btn btn-primary btn-sm" title="Add-To-Stock">
                                 <i class="fas fa-plus"
                            </a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<!-- Modal To Add Anew Product -->
<div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Content loaded via AJAX -->
        </div>
    </div>
</div>


<!-- Modal To Edit  Product -->
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <!-- Content loaded via AJAX -->
        </div>
    </div>
</div>


<!-- End Modal To Edit Product -->
<!-- Modal To Add In Stock  -->
<div class="modal fade" id="AddToStock" tabindex="-1" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">

            <!-- Content loaded via AJAX -->
        </div>
    </div>
</div>
