@model Demo.ViewModels.AddProductFromCategoryViewModel
@{
    Layout = "_AdminLayout";
}
@if (Model.Products.Count != 0)
{
    <div class="container mt-4">

    <div style=" border-radius:2mm; background-color:#eee;" class="container pe-5 ps-6  mt-3  d-flex  justify-content-between  align-items-center">
        <a asp-controller="Category" asp-action="Index" asp-area="Admin" style="border:none;" class="btn btn-outline-secondary  ps-4 pe-4"> <i style="font-size:30px;" class="fa-solid fa-arrow-left"></i> </a>
        <h2>@Model.CategoryName</h2>
        <span> Contains : @Model.Products.Count</span>
        <button data-bs-toggle="modal" data-bs-target="#AddProduct" style="border:none;" class="btn btn-outline-secondary  ps-4 pe-4"> Add New Product </button>
    </div>


    <div class="bg-light p-4 rounded-3 table-responsive">
        <table class="table table-hover">
            <thead style="background-color:#262d34; color:#ccc;" class="rounded-3">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <th scope="row">@product.ProductId</th>
                        <td>
                            <img src="~/Images/@product.Image" alt="@product.ProductName" style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;">
                        </td>
                        <td>@product.ProductName</td>
                        <td>@product.Category.CategoryName</td>
                        <td>@product.Brand.BrandName</td>
                        <td><i class="fa-regular fa-star text-warning"></i> @product.Rate </td>
                        <td>@product.ListPrice $</td>
                        <td>
                            <button onclick="openModal(@product.ProductId, 'Product', 'editProduct', 'Edit')" class="btn btn-dark btn-sm" title="Edit Product">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button onclick="showAlert(@product.ProductId, 'Product','Admin')" class="btn btn-danger btn-sm" title="Delete Product">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-info btn-sm" title="View Details">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </div>
}
else
{
    <div style=" border-radius:2mm; background-color:#eee;" class="container pe-5 ps-6  mt-3  d-flex  justify-content-between  align-items-center">
        <a href="/home" style="border:none;" class="btn btn-outline-secondary  ps-4 pe-4"> <i style="font-size:30px;" class="fa-solid fa-arrow-left"></i> </a>
        <h2>NO Products...!</h2>
        <span> Contains : 0</span>
    </div>
}



<div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="AddProductLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <form id="formProduct" method="post" action="/Product/Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddProductLabel">Create New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="ProductName">Product Name </label>
                        <input class="form-control" asp-for="ProductName" />

                    </div>
                    <div class="form-group mb-3">
                        
                        <input type="hidden" asp-for="CategoryId" value="@Model.CategoryId" />

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="BrandId">Brand Name</label>
                        <select asp-for="BrandId" class="form-select">
                            @foreach (var brand in Model.Brands)
                            {
                                <option value="@brand.BrandId">@brand.BrandName</option>
                            }
                        </select>

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="ProductDescription">Product Description</label>
                        <input class="form-control" asp-for="ProductDescription" />

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Image">Image </label>
                        <input class="form-control" asp-for="Image" />

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="ListPrice">Price </label>
                        <input class="form-control" asp-for="ListPrice" />

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="ModelYear">Year </label>
                        <input class="form-control" asp-for="ModelYear" />

                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" asp-for="Rate">Rate </label>
                        <input class="form-control" asp-for="Rate" />

                    </div>
                    <span class="spn text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="allConfirm('formProduct')" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>